<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jjb.ecms.infrastructure.mapping.TmLuckyCardMapper">
	<resultMap id="BaseResultMap" type="com.jjb.ecms.infrastructure.TmLuckyCard" >
		<id column="ID" property="id" jdbcType="BIGINT"/>
		<result column="APP_NO" property="appNo" jdbcType="VARCHAR" />
		<result column="ORG" property="org" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="ID_TYPE" property="idType" jdbcType="VARCHAR" />
		<result column="ID_NO" property="idNo" jdbcType="VARCHAR" />
		<result column="CELLPHONE" property="cellphone" jdbcType="VARCHAR" />
		<result column="CARD_NO" property="cardNo" jdbcType="VARCHAR" />
		<result column="LOCK_REASON" property="lockReason" jdbcType="VARCHAR" />
		<result column="OPER_ID" property="operId" jdbcType="VARCHAR" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="JPA_VERSION" property="jpaVersion" jdbcType="INTEGER" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="TM_LUCKY_CARD_TABLE_FIELD">ID,APP_NO,ORG,NAME,ID_TYPE,ID_NO,CELLPHONE,CARD_NO,LOCK_REASON,OPER_ID,UPDATE_TIME,JPA_VERSION,STATUS</sql>

	<sql id="TABLE_SEQUENCE">SEQ_TM_LUCKY_CARD_ID.nextval</sql>

	<delete id="deleteByPrimaryKey" parameterType="map" >
		delete from TM_LUCKY_CARD
		where 
		ID = #{id, jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.jjb.ecms.infrastructure.TmLuckyCard" >
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			select <include refid="TABLE_SEQUENCE" /> from dual
		</selectKey>
		insert into TM_LUCKY_CARD ( <include refid="TM_LUCKY_CARD_TABLE_FIELD" /> )
		values (  #{id,jdbcType=BIGINT } , #{appNo,jdbcType=VARCHAR } , #{org,jdbcType=VARCHAR } ,
			 #{name,jdbcType=VARCHAR } , #{idType,jdbcType=VARCHAR } , #{idNo,jdbcType=VARCHAR } , #{cellphone,jdbcType=VARCHAR } ,
			 #{cardNo,jdbcType=VARCHAR } , #{lockReason,jdbcType=VARCHAR } , #{operId,jdbcType=VARCHAR } , #{updateTime,jdbcType=TIMESTAMP } ,
			 #{jpaVersion,jdbcType=INTEGER } , #{status,jdbcType=VARCHAR } 
	)
	</insert>
	<update id="updateNotNullByPrimaryKey" parameterType="com.jjb.ecms.infrastructure.TmLuckyCard">
		update TM_LUCKY_CARD 
		<trim prefix="set" suffixOverrides=","> 
		<if test="appNo != null and appNo != ''  " >
			APP_NO =#{appNo,jdbcType=VARCHAR },
		</if>
		<if test="name != null and name != ''  " >
			NAME =#{name,jdbcType=VARCHAR },
		</if>
		<if test="idType != null and idType != ''  " >
			ID_TYPE =#{idType,jdbcType=VARCHAR },
		</if>
		<if test="idNo != null and idNo != ''  " >
			ID_NO =#{idNo,jdbcType=VARCHAR },
		</if>
		<if test="cellphone != null and cellphone != ''  " >
			CELLPHONE =#{cellphone,jdbcType=VARCHAR },
		</if>
		<if test="cardNo != null and cardNo != ''  " >
			CARD_NO =#{cardNo,jdbcType=VARCHAR },
		</if>
		<if test="lockReason != null and lockReason != ''  " >
			LOCK_REASON =#{lockReason,jdbcType=VARCHAR },
		</if>
		<if test="operId != null and operId != ''  " >
			OPER_ID =#{operId,jdbcType=VARCHAR },
		</if>
		<if test="updateTime != null and updateTime != ''  " >
			UPDATE_TIME =#{updateTime,jdbcType=TIMESTAMP },
		</if>
		<if test="jpaVersion != null and jpaVersion != ''  " >
			JPA_VERSION =#{jpaVersion,jdbcType=INTEGER },
		</if>
		<if test="status != null and status != ''  " >
			STATUS =#{status,jdbcType=VARCHAR },
		</if>
		</trim>
		where 
		ID = #{id, jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jjb.ecms.infrastructure.TmLuckyCard">
		update TM_LUCKY_CARD 
		<trim prefix="set" suffixOverrides=","> 
			APP_NO =#{appNo,jdbcType=VARCHAR },		
			NAME =#{name,jdbcType=VARCHAR },		
			ID_TYPE =#{idType,jdbcType=VARCHAR },		
			ID_NO =#{idNo,jdbcType=VARCHAR },		
			CELLPHONE =#{cellphone,jdbcType=VARCHAR },		
			CARD_NO =#{cardNo,jdbcType=VARCHAR },		
			LOCK_REASON =#{lockReason,jdbcType=VARCHAR },		
			OPER_ID =#{operId,jdbcType=VARCHAR },		
			UPDATE_TIME =#{updateTime,jdbcType=TIMESTAMP },		
			JPA_VERSION =#{jpaVersion,jdbcType=INTEGER },		
			STATUS =#{status,jdbcType=VARCHAR },		
		</trim>
		where 
		ID = #{id, jdbcType=BIGINT}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
		select	<include refid="TM_LUCKY_CARD_TABLE_FIELD" />		
		from TM_LUCKY_CARD
		where 
		ID = #{id, jdbcType=BIGINT}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" parameterType="map" >
		select <include refid="TM_LUCKY_CARD_TABLE_FIELD" />		
 		from TM_LUCKY_CARD
		where 1=1 
		<if test="id != null and id != ''  " >
			and ID = #{id,jdbcType=BIGINT }
		</if>
		<if test="appNo != null and appNo != ''  " >
			and APP_NO = #{appNo,jdbcType=VARCHAR }
		</if>
		<if test="org != null and org != ''  " >
			and ORG = #{org,jdbcType=VARCHAR }
		</if>
		<if test="name != null and name != ''  " >
			and NAME = #{name,jdbcType=VARCHAR }
		</if>
		<if test="idType != null and idType != ''  " >
			and ID_TYPE = #{idType,jdbcType=VARCHAR }
		</if>
		<if test="idNo != null and idNo != ''  " >
			and ID_NO = #{idNo,jdbcType=VARCHAR }
		</if>
		<if test="cellphone != null and cellphone != ''  " >
			and CELLPHONE = #{cellphone,jdbcType=VARCHAR }
		</if>
		<if test="cardNo != null and cardNo != ''  " >
			and CARD_NO = #{cardNo,jdbcType=VARCHAR }
		</if>
		<if test="lockReason != null and lockReason != ''  " >
			and LOCK_REASON = #{lockReason,jdbcType=VARCHAR }
		</if>
		<if test="operId != null and operId != ''  " >
			and OPER_ID = #{operId,jdbcType=VARCHAR }
		</if>
		<if test="updateTime != null and updateTime != ''  " >
			and UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP }
		</if>
		<if test="jpaVersion != null and jpaVersion != ''  " >
			and JPA_VERSION = #{jpaVersion,jdbcType=INTEGER }
		</if>
		<if test="status != null and status != ''  " >
			and STATUS = #{status,jdbcType=VARCHAR }
		</if>

		<if test="_SORT_NAME != null and _SORT_NAME != ''  " >
			<if test="_SORT_ORDER != null and _SORT_ORDER != ''  " >
				order by ${_SORT_NAME} ${_SORT_ORDER} 
			</if>
		</if>

	</select>	
	<select id="loadKeyList" resultType="int" parameterType="map" >
		select  ID 		
 		from TM_LUCKY_CARD
		where 1=1 
		<if test="id != null and id != ''  " >
			and ID = #{id,jdbcType=BIGINT }
		</if>
		<if test="appNo != null and appNo != ''  " >
			and APP_NO = #{appNo,jdbcType=VARCHAR }
		</if>
		<if test="org != null and org != ''  " >
			and ORG = #{org,jdbcType=VARCHAR }
		</if>
		<if test="name != null and name != ''  " >
			and NAME = #{name,jdbcType=VARCHAR }
		</if>
		<if test="idType != null and idType != ''  " >
			and ID_TYPE = #{idType,jdbcType=VARCHAR }
		</if>
		<if test="idNo != null and idNo != ''  " >
			and ID_NO = #{idNo,jdbcType=VARCHAR }
		</if>
		<if test="cellphone != null and cellphone != ''  " >
			and CELLPHONE = #{cellphone,jdbcType=VARCHAR }
		</if>
		<if test="cardNo != null and cardNo != ''  " >
			and CARD_NO = #{cardNo,jdbcType=VARCHAR }
		</if>
		<if test="lockReason != null and lockReason != ''  " >
			and LOCK_REASON = #{lockReason,jdbcType=VARCHAR }
		</if>
		<if test="operId != null and operId != ''  " >
			and OPER_ID = #{operId,jdbcType=VARCHAR }
		</if>
		<if test="updateTime != null and updateTime != ''  " >
			and UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP }
		</if>
		<if test="jpaVersion != null and jpaVersion != ''  " >
			and JPA_VERSION = #{jpaVersion,jdbcType=INTEGER }
		</if>
		<if test="status != null and status != ''  " >
			and STATUS = #{status,jdbcType=VARCHAR }
		</if>

		<if test="_SORT_NAME != null and _SORT_NAME != ''  " >
			<if test="_SORT_ORDER != null and _SORT_ORDER != ''  " >
				order by ${_SORT_NAME} ${_SORT_ORDER} 
			</if>
		</if>

	</select>
</mapper>