<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jjb.ecms.biz.ApplyDailyStatisticReportMappper">
    <resultMap id="BaseResultMap" type="com.jjb.ecms.facility.dto.ApplyDailyStatisticReportDto" >
        <id column="DATE" property="date" jdbcType="DATE"/>
        <result column="APPLY_TIME" property="applyTime" jdbcType="VARCHAR" />
        <result column="SUG_SUCCESS_TIME" property="sugSuccessTime" jdbcType="VARCHAR" />
        <result column="SUG_SUCCESS_TIME_PERCENT" property="sugSuccessTimePercent" jdbcType="VARCHAR" />
        <result column="SUG_REJECT_TIME" property="sugRejectTime" jdbcType="VARCHAR" />
        <result column="SUG_REJECT_TIME_PERCENT" property="sugRejectTimePercent" jdbcType="VARCHAR" />
        <result column="SUG_PERSON_TIME" property="sugPersonTime" jdbcType="VARCHAR" />
        <result column="SUG_PERSON_TIME_PERCENT" property="sugPersonTimePercent" jdbcType="VARCHAR" />
    </resultMap>
    
    <select id="selectMain" resultMap="BaseResultMap" parameterType="map">
	      select cast(h.create_date as Date) as date,
	    	   count(CASE WHEN h.RTF_STATE in ('H15','H16','H17','H18') THEN h.RTF_STATE END) as APPLY_TIME ,
			   count(CASE WHEN h.RTF_STATE = 'H18' THEN h.RTF_STATE END) as SUG_SUCCESS_TIME,
			   concat(case when count(CASE WHEN h.RTF_STATE in ('H15','H16','H17','H18') THEN h.RTF_STATE END)=0 then 0 else 
			   		cast(round(count(CASE WHEN h.RTF_STATE = 'H18' THEN h.RTF_STATE END)*1.0/count(CASE WHEN h.RTF_STATE in ('H15','H16','H17','H18') 
			   		THEN h.RTF_STATE END)*100,2) as decimal(5,2)) end,'%') as SUG_SUCCESS_TIME_PERCENT,
			   count(CASE WHEN h.RTF_STATE = 'H17' THEN h.RTF_STATE END) as SUG_REJECT_TIME,
			   concat(case when count(CASE WHEN h.RTF_STATE in ('H15','H16','H17','H18') THEN h.RTF_STATE END)=0 then 0 else 
			   		cast(round(count(CASE WHEN h.RTF_STATE = 'H17' THEN h.RTF_STATE END)*1.0/count(CASE WHEN h.RTF_STATE in ('H15','H16','H17','H18') 
			   		THEN h.RTF_STATE END)*100,2) as decimal(5,2)) end,'%') as SUG_REJECT_TIME_PERCENT,
			   count(CASE WHEN h.RTF_STATE in ('H15','H16') THEN h.RTF_STATE END) as SUG_PERSON_TIME,
			   concat(case when count(CASE WHEN h.RTF_STATE in ('H15','H16','H17','H18') THEN h.RTF_STATE END)=0 then 0 else 
			   		cast(round(count(CASE WHEN h.RTF_STATE in ('H15','H16') THEN h.RTF_STATE END)*1.0/count(CASE WHEN h.RTF_STATE in ('H15','H16','H17','H18') 
			   		THEN h.RTF_STATE END)*100,2) as decimal(5,2)) end,'%') as SUG_PERSON_TIME_PERCENT
			   from tm_app_history h 
		    <if test=" applySuccessStartDate!=null and applySuccessStartDate!='' and applySuccessEndDate!=null and applySuccessEndDate!=''">
				where h.create_date between #{applySuccessStartDate} and #{applySuccessEndDate} 
			</if> 
				group by cast(h.create_date as Date)
    </select>
    
</mapper>