<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jjb.ecms.biz.ApplyUncompletedDtoMapper">
	<resultMap id="BaseResultMap" type="com.jjb.ecms.facility.dto.ApplyUncompletedDto" >
	    <result column="APP_NO" property="appNo" jdbcType="VARCHAR" />
		<result column="ID_TYPE" property="idType" jdbcType="VARCHAR" />
		<result column="ID_NO" property="idNo" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="APP_TYPE" property="appType" jdbcType="VARCHAR" />
		<result column="PRODUCT_CD" property="productCd" jdbcType="VARCHAR" />
		<result column="OWNING_BRANCH" property="owningBranch" jdbcType="VARCHAR" />
		<result column="APP_SOURCE" property="appSource" jdbcType="VARCHAR" />
		<result column="LAST_OP_USER" property="lastOpUser" jdbcType="VARCHAR" />
		<result column="OWNER" property="owner" jdbcType="VARCHAR" />
		<result column="ASSIGNEE" property="assignee" jdbcType="VARCHAR" />
		<result column="TASK_DEF_KEY" property="taskDefKey" jdbcType="VARCHAR" />
		<result column="TASK_NAME" property="taskName" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectMain" resultMap="BaseResultMap" parameterType="map">
		select a.APP_NO,a.ID_TYPE,a.ID_NO,a.NAME,a.APP_TYPE,a.PRODUCT_CD,a.OWNING_BRANCH,a.APP_SOURCE,a.LAST_OP_USER,a.OWNER,a.ASSIGNEE,a.TASK_DEF_KEY,a.TASK_NAME from TM_APP_MAIN a
        where RTF_STATE not in ('L05','O05','M05','A05','P05','A20','N05')
        <if test="applyUncompletedStartDate!=null and applyUncompletedStartDate!='' and applyUncompletedEndDate!=null and applyUncompletedEndDate!=''">
        	and CREATE_DATE between #{applyUncompletedStartDate} and #{applyUncompletedEndDate} 
        </if>
        <if test="branchCodes != null and branchCodes.length>0  ">
			and a.OWNING_BRANCH IN
			<foreach item="item" index="index" collection="branchCodes" 
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="branch != null and branch != ''  " >
			and a.OWNING_BRANCH= #{branch}
		</if>
		<if test="productCd !=null and productCd !='' ">
			and a.PRODUCT_CD=#{productCd}
		</if>
		<if test="appType !=null and appType !='' ">
			and a.APP_TYPE=#{appType} 
		</if>
		<if test="appSource !=null and appSource !='' ">
			and a.APP_SOURCE=#{appSource} 
		</if>
	</select>
	<select id="selectMainToReport" resultMap="BaseResultMap" parameterType="map">
		select a.APP_NO,a.ID_TYPE||'-'||C.code_name ID_TYPE,a.ID_NO,a.NAME,a.APP_TYPE||'-'||D.code_name APP_TYPE,a.PRODUCT_CD||'-'||E.PRODUCT_DESC PRODUCT_CD,a.OWNING_BRANCH||'-'||F.BRANCH_NAME OWNING_BRANCH,
		a.APP_SOURCE||'-'||G.CODE_NAME APP_SOURCE,a.LAST_OP_USER,a.OWNER,a.ASSIGNEE,a.TASK_DEF_KEY,a.TASK_NAME 
		from TM_APP_MAIN a left join (select CODE,CODE_NAME from tm_acl_dict where type='IdType') c on c.CODE = a.ID_TYPE
		left join (select CODE,CODE_NAME FROM TM_ACL_DICT WHERE TYPE='AppType') d on d.CODE = a.APP_TYPE
		LEFT JOIN TM_PRODUCT E ON E.PRODUCT_CD=A.PRODUCT_CD 
		LEFT JOIN (SELECT CODE,CODE_NAME FROM TM_ACL_DICT WHERE TYPE='AppSource') G ON G.CODE = A.APP_SOURCE
		LEFT JOIN TM_ACL_BRANCH F ON F.BRANCH_CODE=A.OWNING_BRANCH 
        where RTF_STATE not in ('L05','M05','A05','P05','A20','N05')
        <if test="applyUncompletedStartDate!=null and applyUncompletedStartDate!='' and applyUncompletedEndDate!=null and applyUncompletedEndDate!=''">
        	and a.CREATE_DATE between #{applyUncompletedStartDate} and #{applyUncompletedEndDate} 
        </if>
        <if test="branchCodes != null and branchCodes.length>0  ">
			and a.OWNING_BRANCH IN
			<foreach item="item" index="index" collection="branchCodes" 
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="branch != null and branch != ''  " >
			and a.OWNING_BRANCH= #{branch}
		</if>
		<if test="productCd !=null and productCd !='' ">
			and a.PRODUCT_CD=#{productCd}
		</if>
		<if test="appType !=null and appType !='' ">
			and a.APP_TYPE=#{appType} 
		</if>
		<if test="appSource !=null and appSource !='' ">
			and a.APP_SOURCE=#{appSource} 
		</if>
		<if test="org !=null and org!='' ">
			and F.ORG = #{org}
		</if>
	</select>
	
</mapper>