<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jjb.acl.infrastructure.mapping.TmAclExtResourceMapper">
	<resultMap id="BaseResultMap" type="com.jjb.acl.infrastructure.TmAclExtResource" >
		<id column="ORG" property="org" jdbcType="VARCHAR"/>
		<id column="SYS_TYPE" property="sysType" jdbcType="VARCHAR"/>
		<id column="RESOURCE_GROUP_CODE" property="resourceGroupCode" jdbcType="VARCHAR"/>
		<id column="RESOURCE_CODE" property="resourceCode" jdbcType="VARCHAR"/>
		<result column="RESOURCE_NAME" property="resourceName" jdbcType="VARCHAR" />
		<result column="RESOURCE_GROUP_NAME" property="resourceGroupName" jdbcType="VARCHAR" />
		<result column="TYPE" property="type" jdbcType="VARCHAR" />
		<result column="HREF" property="href" jdbcType="VARCHAR" />
		<result column="ICON" property="icon" jdbcType="VARCHAR" />
		<result column="SORT" property="sort" jdbcType="INTEGER" />
		<result column="IS_USED" property="isUsed" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
		<result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
		<result column="JPA_VERSION" property="jpaVersion" jdbcType="INTEGER" />
	</resultMap>
	<sql id="TM_ACL_EXT_RESOURCE_TABLE_FIELD">ORG,SYS_TYPE,RESOURCE_GROUP_CODE,RESOURCE_CODE,RESOURCE_NAME,RESOURCE_GROUP_NAME,TYPE,HREF,ICON,SORT,IS_USED,REMARK,CREATE_DATE,CREATE_BY,UPDATE_DATE,UPDATE_BY,JPA_VERSION</sql>

	<delete id="deleteByPrimaryKey" parameterType="map" >
		delete from TM_ACL_EXT_RESOURCE
		where 
		ORG = #{org, jdbcType=VARCHAR}
 	and 		SYS_TYPE = #{sysType, jdbcType=VARCHAR}
 	and 		RESOURCE_GROUP_CODE = #{resourceGroupCode, jdbcType=VARCHAR}
 	and 		RESOURCE_CODE = #{resourceCode, jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.jjb.acl.infrastructure.TmAclExtResource" >
		insert into TM_ACL_EXT_RESOURCE ( <include refid="TM_ACL_EXT_RESOURCE_TABLE_FIELD" /> )
		values (  #{org,jdbcType=VARCHAR } , #{sysType,jdbcType=VARCHAR } , #{resourceGroupCode,jdbcType=VARCHAR } ,
			 #{resourceCode,jdbcType=VARCHAR } , #{resourceName,jdbcType=VARCHAR } , #{resourceGroupName,jdbcType=VARCHAR } , #{type,jdbcType=VARCHAR } ,
			 #{href,jdbcType=VARCHAR } , #{icon,jdbcType=VARCHAR } , #{sort,jdbcType=INTEGER } , #{isUsed,jdbcType=VARCHAR } ,
			 #{remark,jdbcType=VARCHAR } , #{createDate,jdbcType=TIMESTAMP } , #{createBy,jdbcType=VARCHAR } , #{updateDate,jdbcType=TIMESTAMP } ,
			 #{updateBy,jdbcType=VARCHAR } , #{jpaVersion,jdbcType=INTEGER } 
	)
	</insert>
	<update id="updateNotNullByPrimaryKey" parameterType="com.jjb.acl.infrastructure.TmAclExtResource">
		update TM_ACL_EXT_RESOURCE 
		<trim prefix="set" suffixOverrides=","> 
		<if test="resourceName != null and resourceName != ''  " >
			RESOURCE_NAME =#{resourceName,jdbcType=VARCHAR },
		</if>
		<if test="resourceGroupName != null and resourceGroupName != ''  " >
			RESOURCE_GROUP_NAME =#{resourceGroupName,jdbcType=VARCHAR },
		</if>
		<if test="type != null and type != ''  " >
			TYPE =#{type,jdbcType=VARCHAR },
		</if>
		<if test="href != null and href != ''  " >
			HREF =#{href,jdbcType=VARCHAR },
		</if>
		<if test="icon != null and icon != ''  " >
			ICON =#{icon,jdbcType=VARCHAR },
		</if>
		<if test="sort != null and sort != ''  " >
			SORT =#{sort,jdbcType=INTEGER },
		</if>
		<if test="isUsed != null and isUsed != ''  " >
			IS_USED =#{isUsed,jdbcType=VARCHAR },
		</if>
		<if test="remark != null and remark != ''  " >
			REMARK =#{remark,jdbcType=VARCHAR },
		</if>
		<if test="updateDate != null and updateDate != ''  " >
			UPDATE_DATE =#{updateDate,jdbcType=TIMESTAMP },
		</if>
		<if test="updateBy != null and updateBy != ''  " >
			UPDATE_BY =#{updateBy,jdbcType=VARCHAR },
		</if>
		<if test="jpaVersion != null and jpaVersion != ''  " >
			JPA_VERSION =#{jpaVersion,jdbcType=INTEGER },
		</if>
		</trim>
		where 
		ORG = #{org, jdbcType=VARCHAR}
 	and 		SYS_TYPE = #{sysType, jdbcType=VARCHAR}
 	and 		RESOURCE_GROUP_CODE = #{resourceGroupCode, jdbcType=VARCHAR}
 	and 		RESOURCE_CODE = #{resourceCode, jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jjb.acl.infrastructure.TmAclExtResource">
		update TM_ACL_EXT_RESOURCE 
		<trim prefix="set" suffixOverrides=","> 
			RESOURCE_NAME =#{resourceName,jdbcType=VARCHAR },		
			RESOURCE_GROUP_NAME =#{resourceGroupName,jdbcType=VARCHAR },		
			TYPE =#{type,jdbcType=VARCHAR },		
			HREF =#{href,jdbcType=VARCHAR },		
			ICON =#{icon,jdbcType=VARCHAR },		
			SORT =#{sort,jdbcType=INTEGER },		
			IS_USED =#{isUsed,jdbcType=VARCHAR },		
			REMARK =#{remark,jdbcType=VARCHAR },		
			UPDATE_DATE =#{updateDate,jdbcType=TIMESTAMP },		
			UPDATE_BY =#{updateBy,jdbcType=VARCHAR },		
			JPA_VERSION=JPA_VERSION+1
			
		</trim>
		where 
		ORG = #{org, jdbcType=VARCHAR}
 	and 		SYS_TYPE = #{sysType, jdbcType=VARCHAR}
 	and 		RESOURCE_GROUP_CODE = #{resourceGroupCode, jdbcType=VARCHAR}
 	and 		RESOURCE_CODE = #{resourceCode, jdbcType=VARCHAR}
		and JPA_VERSION = #{jpaVersion, jdbcType=INTEGER}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
		select	<include refid="TM_ACL_EXT_RESOURCE_TABLE_FIELD" />		
		from TM_ACL_EXT_RESOURCE
		where 
		ORG = #{org, jdbcType=VARCHAR}
 	and 		SYS_TYPE = #{sysType, jdbcType=VARCHAR}
 	and 		RESOURCE_GROUP_CODE = #{resourceGroupCode, jdbcType=VARCHAR}
 	and 		RESOURCE_CODE = #{resourceCode, jdbcType=VARCHAR}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" parameterType="map" >
		select <include refid="TM_ACL_EXT_RESOURCE_TABLE_FIELD" />		
 		from TM_ACL_EXT_RESOURCE
		where 1=1 
		<if test="org != null and org != ''  " >
			and ORG = #{org,jdbcType=VARCHAR }
		</if>
		<if test="sysType != null and sysType != ''  " >
			and SYS_TYPE = #{sysType,jdbcType=VARCHAR }
		</if>
		<if test="resourceGroupCode != null and resourceGroupCode != ''  " >
			and RESOURCE_GROUP_CODE = #{resourceGroupCode,jdbcType=VARCHAR }
		</if>
		<if test="resourceCode != null and resourceCode != ''  " >
			and RESOURCE_CODE = #{resourceCode,jdbcType=VARCHAR }
		</if>
		<if test="resourceName != null and resourceName != ''  " >
			and RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR }
		</if>
		<if test="resourceGroupName != null and resourceGroupName != ''  " >
			and RESOURCE_GROUP_NAME = #{resourceGroupName,jdbcType=VARCHAR }
		</if>
		<if test="type != null and type != ''  " >
			and TYPE = #{type,jdbcType=VARCHAR }
		</if>
		<if test="href != null and href != ''  " >
			and HREF = #{href,jdbcType=VARCHAR }
		</if>
		<if test="icon != null and icon != ''  " >
			and ICON = #{icon,jdbcType=VARCHAR }
		</if>
		<if test="sort != null and sort != ''  " >
			and SORT = #{sort,jdbcType=INTEGER }
		</if>
		<if test="isUsed != null and isUsed != ''  " >
			and IS_USED = #{isUsed,jdbcType=VARCHAR }
		</if>
		<if test="remark != null and remark != ''  " >
			and REMARK = #{remark,jdbcType=VARCHAR }
		</if>
		<if test="createDate != null and createDate != ''  " >
			and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP }
		</if>
		<if test="createBy != null and createBy != ''  " >
			and CREATE_BY = #{createBy,jdbcType=VARCHAR }
		</if>
		<if test="updateDate != null and updateDate != ''  " >
			and UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP }
		</if>
		<if test="updateBy != null and updateBy != ''  " >
			and UPDATE_BY = #{updateBy,jdbcType=VARCHAR }
		</if>
		<if test="jpaVersion != null and jpaVersion != ''  " >
			and JPA_VERSION = #{jpaVersion,jdbcType=INTEGER }
		</if>

		<if test="_SORT_NAME != null and _SORT_NAME != ''  " >
			<if test="_SORT_ORDER != null and _SORT_ORDER != ''  " >
				order by ${_SORT_NAME} ${_SORT_ORDER} 
			</if>
		</if>

	</select>	
	<select id="loadKeyList" resultType="int" parameterType="map" >
		select  ID 		
 		from TM_ACL_EXT_RESOURCE
		where 1=1 
		<if test="org != null and org != ''  " >
			and ORG = #{org,jdbcType=VARCHAR }
		</if>
		<if test="sysType != null and sysType != ''  " >
			and SYS_TYPE = #{sysType,jdbcType=VARCHAR }
		</if>
		<if test="resourceGroupCode != null and resourceGroupCode != ''  " >
			and RESOURCE_GROUP_CODE = #{resourceGroupCode,jdbcType=VARCHAR }
		</if>
		<if test="resourceCode != null and resourceCode != ''  " >
			and RESOURCE_CODE = #{resourceCode,jdbcType=VARCHAR }
		</if>
		<if test="resourceName != null and resourceName != ''  " >
			and RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR }
		</if>
		<if test="resourceGroupName != null and resourceGroupName != ''  " >
			and RESOURCE_GROUP_NAME = #{resourceGroupName,jdbcType=VARCHAR }
		</if>
		<if test="type != null and type != ''  " >
			and TYPE = #{type,jdbcType=VARCHAR }
		</if>
		<if test="href != null and href != ''  " >
			and HREF = #{href,jdbcType=VARCHAR }
		</if>
		<if test="icon != null and icon != ''  " >
			and ICON = #{icon,jdbcType=VARCHAR }
		</if>
		<if test="sort != null and sort != ''  " >
			and SORT = #{sort,jdbcType=INTEGER }
		</if>
		<if test="isUsed != null and isUsed != ''  " >
			and IS_USED = #{isUsed,jdbcType=VARCHAR }
		</if>
		<if test="remark != null and remark != ''  " >
			and REMARK = #{remark,jdbcType=VARCHAR }
		</if>
		<if test="createDate != null and createDate != ''  " >
			and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP }
		</if>
		<if test="createBy != null and createBy != ''  " >
			and CREATE_BY = #{createBy,jdbcType=VARCHAR }
		</if>
		<if test="updateDate != null and updateDate != ''  " >
			and UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP }
		</if>
		<if test="updateBy != null and updateBy != ''  " >
			and UPDATE_BY = #{updateBy,jdbcType=VARCHAR }
		</if>
		<if test="jpaVersion != null and jpaVersion != ''  " >
			and JPA_VERSION = #{jpaVersion,jdbcType=INTEGER }
		</if>

		<if test="_SORT_NAME != null and _SORT_NAME != ''  " >
			<if test="_SORT_ORDER != null and _SORT_ORDER != ''  " >
				order by ${_SORT_NAME} ${_SORT_ORDER} 
			</if>
		</if>

	</select>
</mapper>