<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="acl.biz.TmAclAuthAuditLog" >
	<resultMap id="BaseResultMap" type="com.jjb.acl.infrastructure.TmAclAuthAuditLog" >
		<id column="ID" property="id" jdbcType="INTEGER"/>
		<result column="ORG" property="org" jdbcType="VARCHAR" />
		<result column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
		<result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
		<result column="USER_ID" property="userId" jdbcType="INTEGER" />
		<result column="USER_NO" property="userNo" jdbcType="VARCHAR" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
		<result column="AUDIT_TYPE" property="auditType" jdbcType="VARCHAR" />
		<result column="VISIBLE_AUDIT_BRANCH_NO" property="visibleAuditBranchNo" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="AUDIT_BRANCH_NO" property="auditBranchNo" jdbcType="VARCHAR" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
		<result column="CREATE_BRANCH_NO" property="createBranchNo" jdbcType="VARCHAR" />
		<result column="CREATE_REMARK" property="createRemark" jdbcType="VARCHAR" />
		<result column="CHECK_DATE" property="checkDate" jdbcType="TIMESTAMP" />
		<result column="CHECK_BY" property="checkBy" jdbcType="VARCHAR" />
		<result column="CHECK_REMARK" property="checkRemark" jdbcType="VARCHAR" />
		<result column="JPA_VERSION" property="jpaVersion" jdbcType="INTEGER" />
	</resultMap>

      <select id="selectAll" resultMap="BaseResultMap" parameterType="map" >
        select <include refid="com.jjb.acl.infrastructure.mapping.TmAclAuthAuditLogMapper.TM_ACL_AUTH_AUDIT_LOG_TABLE_FIELD" />
 		from TM_ACL_AUTH_AUDIT_LOG
		
        where   STATUS='W' and VISIBLE_AUDIT_BRANCH_NO like CONCAT(CONCAT('%', #{branchCode,jdbcType=VARCHAR}), '%') 
        	and CREATE_BY != #{curUserNo,jdbcType=VARCHAR}
        
        <if test="id != null and id != ''  " >
			and ID = #{id,jdbcType=INTEGER }
		</if>
		<if test="org != null and org != ''  " >
			and ORG = #{org,jdbcType=VARCHAR }
		</if>
		<if test="roleId != null and roleId != ''  " >
			and ROLE_ID = #{roleId,jdbcType=INTEGER }
		</if>
		<if test="roleName != null and roleName != ''  " >
			and ROLE_NAME = #{roleName,jdbcType=VARCHAR }
		</if>
		<if test="userId != null and userId != ''  " >
			and USER_ID = #{userId,jdbcType=INTEGER }
		</if>
		<if test="userNo != null and userNo != ''  " >
			and USER_NO = #{userNo,jdbcType=VARCHAR }
		</if>
		<if test="userName != null and userName != ''  " >
			and USER_NAME = #{userName,jdbcType=VARCHAR }
		</if>
		<if test="userType != null and userType != ''  " >
			and USER_TYPE = #{userType,jdbcType=VARCHAR }
		</if>
		<if test="auditType != null and auditType != ''  " >
			and AUDIT_TYPE = #{auditType,jdbcType=VARCHAR }
		</if>
		<if test="visibleAuditBranchNo != null and visibleAuditBranchNo != ''  " >
			and VISIBLE_AUDIT_BRANCH_NO like CONCAT(CONCAT('%', #{visibleAuditBranchNo,jdbcType=VARCHAR}), '%')
		</if>
		<if test="status != null and status != ''  " >
			and STATUS = #{status,jdbcType=VARCHAR }
		</if>
		<if test="auditBranchNo != null and auditBranchNo != ''  " >
			and AUDIT_BRANCH_NO = #{auditBranchNo,jdbcType=VARCHAR }
		</if>
		<if test="createDate != null and createDate != ''  " >
			and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP }
		</if>
		<if test="createBy != null and createBy != ''  " >
			and CREATE_BY = #{createBy,jdbcType=VARCHAR }
		</if>
		<if test="createBranchNo != null and createBranchNo != ''  " >
			and CREATE_BRANCH_NO = #{createBranchNo,jdbcType=VARCHAR }
		</if>
		<if test="createRemark != null and createRemark != ''  " >
			and CREATE_REMARK = #{createRemark,jdbcType=VARCHAR }
		</if>
		<if test="checkDate != null and checkDate != ''  " >
			and CHECK_DATE = #{checkDate,jdbcType=TIMESTAMP }
		</if>
		<if test="checkBy != null and checkBy != ''  " >
			and CHECK_BY = #{checkBy,jdbcType=VARCHAR }
		</if>
		<if test="checkRemark != null and checkRemark != ''  " >
			and CHECK_REMARK = #{checkRemark,jdbcType=VARCHAR }
		</if>
		<if test="jpaVersion != null and jpaVersion != ''  " >
			and JPA_VERSION = #{jpaVersion,jdbcType=INTEGER }
		</if>
		<if test="beginDate != null and beginDate != '' " >
			and CREATE_DATE &gt;= #{beginDate,jdbcType=TIMESTAMP }
		</if>
		<if test="endDate != null and endDate != '' " >
			and CREATE_DATE &lt;= #{endDate,jdbcType=TIMESTAMP }
		</if>

        order by CREATE_DATE DESC
    </select>


      <select id="selectMySubmitList" resultMap="BaseResultMap" parameterType="map" >
        select <include refid="com.jjb.acl.infrastructure.mapping.TmAclAuthAuditLogMapper.TM_ACL_AUTH_AUDIT_LOG_TABLE_FIELD" />
 		from TM_ACL_AUTH_AUDIT_LOG
		
        where  CREATE_BY = #{curUserNo,jdbcType=VARCHAR}
        
        <if test="id != null and id != ''  " >
			and ID = #{id,jdbcType=INTEGER }
		</if>
		<if test="org != null and org != ''  " >
			and ORG = #{org,jdbcType=VARCHAR }
		</if>
		<if test="roleId != null and roleId != ''  " >
			and ROLE_ID = #{roleId,jdbcType=INTEGER }
		</if>
		<if test="roleName != null and roleName != ''  " >
			and ROLE_NAME = #{roleName,jdbcType=VARCHAR }
		</if>
		<if test="userId != null and userId != ''  " >
			and USER_ID = #{userId,jdbcType=INTEGER }
		</if>
		<if test="userNo != null and userNo != ''  " >
			and USER_NO = #{userNo,jdbcType=VARCHAR }
		</if>
		<if test="userName != null and userName != ''  " >
			and USER_NAME = #{userName,jdbcType=VARCHAR }
		</if>
		<if test="userType != null and userType != ''  " >
			and USER_TYPE = #{userType,jdbcType=VARCHAR }
		</if>
		<if test="auditType != null and auditType != ''  " >
			and AUDIT_TYPE = #{auditType,jdbcType=VARCHAR }
		</if>
		<if test="visibleAuditBranchNo != null and visibleAuditBranchNo != ''  " >
			and VISIBLE_AUDIT_BRANCH_NO like CONCAT(CONCAT('%', #{visibleAuditBranchNo,jdbcType=VARCHAR}), '%')
		</if>
		<if test="status != null and status != ''  " >
			and STATUS = #{status,jdbcType=VARCHAR }
		</if>
		<if test="auditBranchNo != null and auditBranchNo != ''  " >
			and AUDIT_BRANCH_NO = #{auditBranchNo,jdbcType=VARCHAR }
		</if>
		<if test="createDate != null and createDate != ''  " >
			and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP }
		</if>
		<if test="createBy != null and createBy != ''  " >
			and CREATE_BY = #{createBy,jdbcType=VARCHAR }
		</if>
		<if test="createBranchNo != null and createBranchNo != ''  " >
			and CREATE_BRANCH_NO = #{createBranchNo,jdbcType=VARCHAR }
		</if>
		<if test="createRemark != null and createRemark != ''  " >
			and CREATE_REMARK = #{createRemark,jdbcType=VARCHAR }
		</if>
		<if test="checkDate != null and checkDate != ''  " >
			and CHECK_DATE = #{checkDate,jdbcType=TIMESTAMP }
		</if>
		<if test="checkBy != null and checkBy != ''  " >
			and CHECK_BY = #{checkBy,jdbcType=VARCHAR }
		</if>
		<if test="checkRemark != null and checkRemark != ''  " >
			and CHECK_REMARK = #{checkRemark,jdbcType=VARCHAR }
		</if>
		<if test="jpaVersion != null and jpaVersion != ''  " >
			and JPA_VERSION = #{jpaVersion,jdbcType=INTEGER }
		</if>
		<if test="beginDate != null and beginDate != '' " >
			and CREATE_DATE &gt;= #{beginDate,jdbcType=TIMESTAMP }
		</if>
		<if test="endDate != null and endDate != '' " >
			and CREATE_DATE &lt;= #{endDate,jdbcType=TIMESTAMP }
		</if>

        order by CREATE_DATE DESC
    </select>
    
    
      <select id="selectMyCheckedList" resultMap="BaseResultMap" parameterType="map" >
        select <include refid="com.jjb.acl.infrastructure.mapping.TmAclAuthAuditLogMapper.TM_ACL_AUTH_AUDIT_LOG_TABLE_FIELD" />
 		from TM_ACL_AUTH_AUDIT_LOG
		
        where  CHECK_BY = #{curUserNo,jdbcType=VARCHAR}
            
        <if test="id != null and id != ''  " >
			and ID = #{id,jdbcType=INTEGER }
		</if>
		<if test="org != null and org != ''  " >
			and ORG = #{org,jdbcType=VARCHAR }
		</if>
		<if test="roleId != null and roleId != ''  " >
			and ROLE_ID = #{roleId,jdbcType=INTEGER }
		</if>
		<if test="roleName != null and roleName != ''  " >
			and ROLE_NAME = #{roleName,jdbcType=VARCHAR }
		</if>
		<if test="userId != null and userId != ''  " >
			and USER_ID = #{userId,jdbcType=INTEGER }
		</if>
		<if test="userNo != null and userNo != ''  " >
			and USER_NO = #{userNo,jdbcType=VARCHAR }
		</if>
		<if test="userName != null and userName != ''  " >
			and USER_NAME = #{userName,jdbcType=VARCHAR }
		</if>
		<if test="userType != null and userType != ''  " >
			and USER_TYPE = #{userType,jdbcType=VARCHAR }
		</if>
		<if test="auditType != null and auditType != ''  " >
			and AUDIT_TYPE = #{auditType,jdbcType=VARCHAR }
		</if>
		<if test="visibleAuditBranchNo != null and visibleAuditBranchNo != ''  " >
			and VISIBLE_AUDIT_BRANCH_NO like CONCAT(CONCAT('%', #{visibleAuditBranchNo,jdbcType=VARCHAR}), '%')
		</if>
		<if test="status != null and status != ''  " >
			and STATUS = #{status,jdbcType=VARCHAR }
		</if>
		<if test="auditBranchNo != null and auditBranchNo != ''  " >
			and AUDIT_BRANCH_NO = #{auditBranchNo,jdbcType=VARCHAR }
		</if>
		<if test="createDate != null and createDate != ''  " >
			and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP }
		</if>
		<if test="createBy != null and createBy != ''  " >
			and CREATE_BY = #{createBy,jdbcType=VARCHAR }
		</if>
		<if test="createBranchNo != null and createBranchNo != ''  " >
			and CREATE_BRANCH_NO = #{createBranchNo,jdbcType=VARCHAR }
		</if>
		<if test="createRemark != null and createRemark != ''  " >
			and CREATE_REMARK = #{createRemark,jdbcType=VARCHAR }
		</if>
		<if test="checkDate != null and checkDate != ''  " >
			and CHECK_DATE = #{checkDate,jdbcType=TIMESTAMP }
		</if>
		<if test="checkBy != null and checkBy != ''  " >
			and CHECK_BY = #{checkBy,jdbcType=VARCHAR }
		</if>
		<if test="checkRemark != null and checkRemark != ''  " >
			and CHECK_REMARK = #{checkRemark,jdbcType=VARCHAR }
		</if>
		<if test="jpaVersion != null and jpaVersion != ''  " >
			and JPA_VERSION = #{jpaVersion,jdbcType=INTEGER }
		</if>
		<if test="beginDate != null and beginDate != '' " >
			and CHECK_DATE &gt;= #{beginDate,jdbcType=TIMESTAMP }
		</if>
		<if test="endDate != null and endDate != '' " >
			and CHECK_DATE &lt;= #{endDate,jdbcType=TIMESTAMP }
		</if>

        order by CREATE_DATE DESC
    </select>        
</mapper>