<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="acl.access.TmAclBranchMapper">
	<select id="selectLeftLikePath" resultMap="com.jjb.acl.infrastructure.mapping.TmAclBranchMapper.BaseResultMap" parameterType="map" >
		select BRANCH_CODE,BRANCH_NAME,PARENT_PATH			
 		from TM_ACL_BRANCH
		where 1=1 and PARENT_PATH like '${parentPath}%' 
		<if test="org != null and org != ''  " >
			and ORG = #{org,jdbcType=VARCHAR }
		</if>
		<if test="branchCode != null and branchCode != ''  " >
			and BRANCH_CODE = #{branchCode,jdbcType=VARCHAR }
		</if>
		<if test="branchName != null and branchName != ''  " >
			and BRANCH_NAME like CONCAT(CONCAT('%', #{branchName,jdbcType=VARCHAR}), '%') 
		</if>
		<if test="parentCode != null and parentCode != ''  " >
			and PARENT_CODE = #{parentCode,jdbcType=VARCHAR }
		</if>
			
		<if test="branchLevel != null and branchLevel != ''  " >
			and BRANCH_LEVEL = #{branchLevel,jdbcType=VARCHAR }
		</if>
		<if test="branchType != null and branchType != ''  " >
			and BRANCH_TYPE = #{branchType,jdbcType=VARCHAR }
		</if>
		<if test="status != null and status != ''  " >
			and STATUS = #{status,jdbcType=VARCHAR }
		</if>
		order by PARENT_PATH asc
	</select>
</mapper>
