<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		                   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <description>Spring容器配置</description>

	<!-- 占位符 -->
	<bean id="env" class="com.jjb.unicorn.facility.config.UnicornEnvironmentFactoryBean">
		<property name="locations" value="#{systemProperties['env.files'] ?: 'classpath:/conf/*.properties'}"/>
	</bean>

	<import resource="classpath*:spring-acl-biz.xml"/>
	<import resource="classpath*:spring-ecms-biz.xml"/>
	<import resource="classpath*:spring-cas-biz.xml"/>
	
	
	<import resource="classpath*:spring-access.xml"/>
	<import resource="classpath:application-context.xml"/>
	<import resource="classpath:log4jConfiguration-context.xml"/>
	<import resource="classpath*:rpc-context.xml"/>
	
	
</beans>
